*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #fff;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2rem 1rem;
  flex-wrap: wrap;
}
label {
  font-size: 1.5rem;
}
#color-value {
  font-size: 2rem;
  margin: 0;
}
#color-value {
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  
}
#red {
    accent-color: red;
}
#green {
    accent-color: green;
}
#blue {
  accent-color: blue;
}

  button {
    cursor: pointer;
    font: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  
    height: 3.5rem;
    width: 7rem;
    border-radius: 15px;
    padding: 0;
  
    box-shadow: 
  }
  
  button:hover {
    background-color: 
  }
  
  button:active {
    box-shadow: 
  }
}
